bpm/bonita-api/bonita-common-api/src/main/resources/ProcessDefinition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.bonitasoft.org/ns/process/client/7.4" xmlns:tns="http://www.bonitasoft.org/ns/process/client/7.4" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="processDefinition" type="tns:designProcessDefinitionImpl" />

    <xs:complexType name="actorDefinitionImpl">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="initiator" type="xs:boolean" use="required" />
    </xs:complexType>

    <xs:complexType name="businessDataDefinitionImpl">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="defaultValue" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="className" type="xs:string" />
        <xs:attribute name="multiple" type="xs:boolean" use="required" />
    </xs:complexType>

    <xs:complexType name="expressionImpl">
        <xs:sequence>
            <xs:element name="content" type="xs:string" minOccurs="0" />
            <xs:element name="expression" type="tns:expressionImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="expressionType" type="xs:string" />
        <xs:attribute name="returnType" type="xs:string" />
        <xs:attribute name="interpreter" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="connectorDefinitionImpl">
        <xs:sequence>
            <xs:element name="inputs" type="tns:nameExpressionMap" minOccurs="0" />
            <xs:element name="outputs" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="connectorId" type="xs:string" />
        <xs:attribute name="activationEvent" type="tns:connectorEvent" />
        <xs:attribute name="version" type="xs:string" />
        <xs:attribute name="failAction" type="tns:failAction" />
        <xs:attribute name="errorCode" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="nameExpressionMap">
        <xs:sequence>
            <xs:element name="input" type="tns:nameExpressionPair" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nameExpressionPair">
        <xs:sequence>
            <xs:element name="expression" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="operationImpl">
        <xs:sequence>
            <xs:element name="leftOperand" type="tns:leftOperandImpl" minOccurs="0" />
            <xs:element name="rightOperand" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="operatorType" type="tns:operatorType" />
        <xs:attribute name="operator" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="leftOperandImpl">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="contextEntryImpl">
        <xs:sequence>
            <xs:element name="expression" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="key" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="constraintDefinitionImpl">
        <xs:sequence>
            <xs:element name="expression" type="xs:string" minOccurs="0" />
            <xs:element name="explanation" type="xs:string" minOccurs="0" />
            <xs:element name="inputNames" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inputName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="contractDefinitionImpl">
        <xs:complexContent>
            <xs:extension base="tns:inputContainerDefinitionImpl">
                <xs:sequence>
                    <xs:element name="constraints" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="constraint" type="tns:constraintDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="inputContainerDefinitionImpl">
        <xs:sequence>
            <xs:element name="inputDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inputDefinition" type="tns:inputDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="inputDefinitionImpl">
        <xs:complexContent>
            <xs:extension base="tns:inputContainerDefinitionImpl">
                <xs:sequence>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="type" type="tns:type" />
                <xs:attribute name="name" type="xs:string" />
                <xs:attribute name="multiple" type="xs:boolean" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dataDefinitionImpl">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="defaultValue" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="transient" type="xs:boolean" use="required" />
        <xs:attribute name="className" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="textDataDefinitionImpl">
        <xs:complexContent>
            <xs:extension base="tns:dataDefinitionImpl">
                <xs:sequence />
                <xs:attribute name="longText" type="xs:boolean" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xmlDataDefinitionImpl">
        <xs:complexContent>
            <xs:extension base="tns:dataDefinitionImpl">
                <xs:sequence />
                <xs:attribute name="namespace" type="xs:string" />
                <xs:attribute name="element" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="documentDefinitionImpl">
        <xs:sequence>
            <xs:element name="url" type="xs:string" minOccurs="0" />
            <xs:element name="file" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="fileName" type="xs:string" minOccurs="0" />
            <xs:element name="expression" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="mimeType" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="documentListDefinitionImpl">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="expression" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="callActivityDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="operations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="standardLoopCharacteristics" type="tns:standardLoopCharacteristicsImpl" />
                <xs:element name="multiInstanceLoopCharacteristics" type="tns:multiInstanceLoopCharacteristicsImpl" />
            </xs:choice>
            <xs:element name="boundaryEvents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boundaryEvent" type="tns:boundaryEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="callableElement" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="callableElementVersion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="dataInputOperation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="contractInput" type="tns:nameExpressionMap" minOccurs="0" />
            <xs:element name="dataOutputOperation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="callableElementType" type="tns:callableElementType" />
    </xs:complexType>

    <xs:complexType name="transitionDefinitionImpl">
        <xs:sequence>
            <xs:element name="condition" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="source" type="xs:IDREF" />
        <xs:attribute name="target" type="xs:IDREF" />
    </xs:complexType>

    <xs:complexType name="standardLoopCharacteristicsImpl">
        <xs:sequence>
            <xs:element name="loopCondition" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="loopMax" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="testBefore" type="xs:boolean" use="required" />
    </xs:complexType>

    <xs:complexType name="multiInstanceLoopCharacteristicsImpl">
        <xs:sequence>
            <xs:element name="loopCardinality" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="completionCondition" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="isSequential" type="xs:boolean" use="required" />
        <xs:attribute name="loopDataInputRef" type="xs:string" />
        <xs:attribute name="loopDataOutputRef" type="xs:string" />
        <xs:attribute name="dataInputItemRef" type="xs:string" />
        <xs:attribute name="dataOutputItemRef" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="boundaryEventDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="timerEventTrigger" type="tns:timerEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchMessageEventTrigger" type="tns:catchMessageEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchSignalEventTrigger" type="tns:catchSignalEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchErrorEventTrigger" type="tns:catchErrorEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="interrupting" type="xs:boolean" use="required" />
    </xs:complexType>

    <xs:complexType name="timerEventTriggerDefinitionImpl">
        <xs:sequence>
            <xs:element name="expression" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="type" type="tns:timerType" />
    </xs:complexType>

    <xs:complexType name="catchMessageEventTriggerDefinitionImpl">
        <xs:sequence>
            <xs:element name="correlation" type="tns:correlationDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="correlationDefinitionImpl">
        <xs:sequence>
            <xs:element name="value" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="key" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="catchSignalEventTriggerDefinitionImpl">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="catchErrorEventTriggerDefinitionImpl">
        <xs:sequence />
        <xs:attribute name="errorCode" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="endEventDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="throwMessageEventTrigger" type="tns:throwMessageEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="throwSignalEventTrigger" type="tns:throwSignalEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="throwErrorEventTrigger" type="tns:throwErrorEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="terminateEventTrigger" type="tns:terminateEventTriggerDefinitionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="throwMessageEventTriggerDefinitionImpl">
        <xs:sequence>
            <xs:element name="correlation" type="tns:correlationDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="targetProcess" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="targetFlowNode" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="throwSignalEventTriggerDefinitionImpl">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="throwErrorEventTriggerDefinitionImpl">
        <xs:sequence />
        <xs:attribute name="errorCode" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="terminateEventTriggerDefinitionImpl">
        <xs:sequence />
    </xs:complexType>

    <xs:complexType name="flowElementContainerDefinitionImpl">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="automaticTask" type="tns:automaticTaskDefinitionImpl" />
                <xs:element name="callActivity" type="tns:callActivityDefinitionImpl" />
                <xs:element name="manualTask" type="tns:manualTaskDefinitionImpl" />
                <xs:element name="receiveTask" type="tns:receiveTaskDefinitionImpl" />
                <xs:element name="sendTask" type="tns:sendTaskDefinitionImpl" />
                <xs:element name="userTask" type="tns:userTaskDefinitionImpl" />
                <xs:element name="subProcess" type="tns:subProcessDefinitionImpl" />
            </xs:choice>
            <xs:element name="transitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="transition" type="tns:transitionDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="gateway" type="tns:gatewayDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="startEvent" type="tns:startEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="intermediateCatchEvent" type="tns:intermediateCatchEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="intermediateThrowEvent" type="tns:intermediateThrowEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="endEvent" type="tns:endEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="documentDefinition" type="tns:documentDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentListDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="documentListDefinition" type="tns:documentListDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="connectors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="elementFinder" type="tns:elementFinder" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
    </xs:complexType>

    <xs:complexType name="automaticTaskDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="operations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="standardLoopCharacteristics" type="tns:standardLoopCharacteristicsImpl" />
                <xs:element name="multiInstanceLoopCharacteristics" type="tns:multiInstanceLoopCharacteristicsImpl" />
            </xs:choice>
            <xs:element name="boundaryEvents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boundaryEvent" type="tns:boundaryEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="manualTaskDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="operations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="standardLoopCharacteristics" type="tns:standardLoopCharacteristicsImpl" />
                <xs:element name="multiInstanceLoopCharacteristics" type="tns:multiInstanceLoopCharacteristicsImpl" />
            </xs:choice>
            <xs:element name="boundaryEvents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boundaryEvent" type="tns:boundaryEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="userFilter" type="tns:userFilterDefinitionImpl" minOccurs="0" />
            <xs:element name="expectedDuration" type="tns:expressionImpl" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="actorName" type="xs:string" />
        <xs:attribute name="priority" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="userFilterDefinitionImpl">
        <xs:sequence>
            <xs:element name="inputs" type="tns:nameExpressionMap" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="userFilterId" type="xs:string" />
        <xs:attribute name="version" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="receiveTaskDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="operations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="standardLoopCharacteristics" type="tns:standardLoopCharacteristicsImpl" />
                <xs:element name="multiInstanceLoopCharacteristics" type="tns:multiInstanceLoopCharacteristicsImpl" />
            </xs:choice>
            <xs:element name="boundaryEvents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boundaryEvent" type="tns:boundaryEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="catchMessageEventTrigger" type="tns:catchMessageEventTriggerDefinitionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="sendTaskDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="operations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="standardLoopCharacteristics" type="tns:standardLoopCharacteristicsImpl" />
                <xs:element name="multiInstanceLoopCharacteristics" type="tns:multiInstanceLoopCharacteristicsImpl" />
            </xs:choice>
            <xs:element name="boundaryEvents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boundaryEvent" type="tns:boundaryEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="throwMessageEventTrigger" type="tns:throwMessageEventTriggerDefinitionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="userTaskDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="operations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="standardLoopCharacteristics" type="tns:standardLoopCharacteristicsImpl" />
                <xs:element name="multiInstanceLoopCharacteristics" type="tns:multiInstanceLoopCharacteristicsImpl" />
            </xs:choice>
            <xs:element name="boundaryEvents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boundaryEvent" type="tns:boundaryEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="userFilter" type="tns:userFilterDefinitionImpl" minOccurs="0" />
            <xs:element name="contract" type="tns:contractDefinitionImpl" minOccurs="0" />
            <xs:element name="context" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contextEntry" type="tns:contextEntryImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="expectedDuration" type="tns:expressionImpl" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="actorName" type="xs:string" />
        <xs:attribute name="priority" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="subProcessDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="dataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="dataDefinition" type="tns:dataDefinitionImpl" />
                            <xs:element name="textDataDefinition" type="tns:textDataDefinitionImpl" />
                            <xs:element name="xmlDataDefinition" type="tns:xmlDataDefinitionImpl" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessDataDefinition" type="tns:businessDataDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="operations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="operation" type="tns:operationImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:element name="standardLoopCharacteristics" type="tns:standardLoopCharacteristicsImpl" />
                <xs:element name="multiInstanceLoopCharacteristics" type="tns:multiInstanceLoopCharacteristicsImpl" />
            </xs:choice>
            <xs:element name="boundaryEvents" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="boundaryEvent" type="tns:boundaryEventDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="flowElements" type="tns:flowElementContainerDefinitionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="triggeredByEvent" type="xs:boolean" use="required" />
    </xs:complexType>

    <xs:complexType name="gatewayDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="gatewayType" type="tns:gatewayType" />
    </xs:complexType>

    <xs:complexType name="startEventDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="timerEventTrigger" type="tns:timerEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchMessageEventTrigger" type="tns:catchMessageEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchSignalEventTrigger" type="tns:catchSignalEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchErrorEventTrigger" type="tns:catchErrorEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="interrupting" type="xs:boolean" use="required" />
    </xs:complexType>

    <xs:complexType name="intermediateCatchEventDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="timerEventTrigger" type="tns:timerEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchMessageEventTrigger" type="tns:catchMessageEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchSignalEventTrigger" type="tns:catchSignalEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="catchErrorEventTrigger" type="tns:catchErrorEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="interrupting" type="xs:boolean" use="required" />
    </xs:complexType>

    <xs:complexType name="intermediateThrowEventDefinitionImpl">
        <xs:sequence>
            <xs:element name="incomingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outgoingTransition" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="connector" type="tns:connectorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="displayDescription" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayName" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="displayDescriptionAfterCompletion" type="tns:expressionImpl" minOccurs="0" />
            <xs:element name="defaultTransition" type="xs:IDREF" minOccurs="0" />
            <xs:element name="throwMessageEventTrigger" type="tns:throwMessageEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="throwSignalEventTrigger" type="tns:throwSignalEventTriggerDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="elementFinder">
        <xs:sequence />
    </xs:complexType>

    <xs:complexType name="parameterDefinitionImpl">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="designProcessDefinitionImpl">
        <xs:complexContent>
            <xs:extension base="tns:processDefinitionImpl">
                <xs:sequence>
                    <xs:element name="displayDescription" type="xs:string" minOccurs="0" />
                    <xs:element name="parameters" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="parameter" type="tns:parameterDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="actors" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="actor" type="tns:actorDefinitionImpl" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="actorInitiator" type="xs:IDREF" minOccurs="0" />
                    <xs:element name="flowElements" type="tns:flowElementContainerDefinitionImpl" nillable="true" minOccurs="0" />
                    <xs:element name="stringIndexes" nillable="true" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="stringIndex" type="tns:indexLabel" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="contract" type="tns:contractDefinitionImpl" minOccurs="0" />
                    <xs:element name="context" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="contextEntry" type="tns:contextEntryImpl" nillable="true" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="displayName" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="processDefinitionImpl">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="indexLabel">
        <xs:sequence>
            <xs:element name="expression" type="tns:expressionImpl" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="index" type="xs:string" />
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>

    <xs:simpleType name="operatorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XPATH_UPDATE_QUERY" />
            <xs:enumeration value="ASSIGNMENT" />
            <xs:enumeration value="JAVA_METHOD" />
            <xs:enumeration value="DOCUMENT_CREATE_UPDATE" />
            <xs:enumeration value="STRING_INDEX" />
            <xs:enumeration value="DELETION" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="connectorEvent">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ON_ENTER" />
            <xs:enumeration value="ON_FINISH" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="failAction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL" />
            <xs:enumeration value="ERROR_EVENT" />
            <xs:enumeration value="IGNORE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FILE" />
            <xs:enumeration value="TEXT" />
            <xs:enumeration value="DECIMAL" />
            <xs:enumeration value="DATE" />
            <xs:enumeration value="INTEGER" />
            <xs:enumeration value="BOOLEAN" />
            <xs:enumeration value="BYTE_ARRAY" />
            <xs:enumeration value="LONG" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="timerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CYCLE" />
            <xs:enumeration value="DURATION" />
            <xs:enumeration value="DATE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="callableElementType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROCESS" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="gatewayType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXCLUSIVE" />
            <xs:enumeration value="INCLUSIVE" />
            <xs:enumeration value="PARALLEL" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>

