bpm/bonita-core/bonita-process-definition/bonita-process-definition-impl/src/main/resources/org/bonitasoft/engine/core/process/definition/model/builder/impl/SProcessDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:definition="http://www.bonitasoft.org/ns/process/server/6.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bonitasoft.org/ns/process/server/6.3"
    elementFormDefault="qualified">

    <xs:element name="processDefinition" type="definition:SProcessDefinition" />

    <xs:complexType name="SProcessDefinition">
        <xs:annotation>
            <xs:documentation>Process definition server side</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="stringIndexes">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element type="definition:SStringIndex" name="stringIndex" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="flowElements">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="definition:SFlowElementDefinition" />
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="dependencies">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="parameters">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element type="definition:SParameterDefinition" name="parameter" minOccurs="0" maxOccurs="unbounded" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="actors">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element type="definition:SActorDefinition" name="actor" minOccurs="0" maxOccurs="unbounded" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="actorInitiator" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="definition:SActorDefinition" />
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="contract" type="definition:SContractDefinition" minOccurs="0" />
                    <xs:element name="context" type="definition:SContextDefinition" minOccurs="0" maxOccurs="1" />
                </xs:all>
                <xs:attribute type="xs:string" name="version" use="required" />
                <xs:attribute type="xs:string" name="bos_version" use="required" />
                <xs:attribute type="xs:string" name="stringIndexLabel1" />
                <xs:attribute type="xs:string" name="stringIndexLabel2" />
                <xs:attribute type="xs:string" name="stringIndexLabel3" />
                <xs:attribute type="xs:string" name="stringIndexLabel4" />
                <xs:attribute type="xs:string" name="stringIndexLabel5" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SParameterDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:sequence>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="type" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SStringIndex">
        <xs:sequence>
            <xs:element name="expression" type="definition:SExpression" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="index" type="xs:int" />
        <xs:attribute name="label" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="SActorDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SFlowElementDefinition">
        <xs:all>
            <xs:element name="flowNodes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="definition:SUserTaskDefinition" name="userTask" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SManualTaskDefinition" name="manualTask" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SReceiveTaskDefinition" name="receiveTask" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SSendTaskDefinition" name="sendTask" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SAutomaticTaskDefinition" name="automaticTask" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SCallActivityDefinition" name="callActivity" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SGatewayDefinition" name="gateway" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SStartEventDefinition" name="startEvent" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SIntermediateCatchEventDefinition" name="intermediateCatchEvent" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SIntermediateThrowEventDefinition" name="intermediateThrowEvent" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SEndEventDefinition" name="endEvent" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element type="definition:SSubProcessDefinition" name="subProcess" minOccurs="0" maxOccurs="unbounded" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="transitions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="definition:STransitionDefinition" name="transition" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="connectors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="definition:SConnectorDefinition" name="connector" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="businessDataDefinitions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="definition:SBusinessDataDefinition" name="businessDataDefinition" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dataDefinitions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element type="definition:SDataDefinition" name="dataDefinition" />
                            <xs:element type="definition:STextDataDefinition" name="textDataDefinition" />
                            <xs:element type="definition:SXMLDataDefinition" name="xmlDataDefinition" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentDefinitions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="definition:SDocumentDefinition" name="documentDefinition" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentListDefinitions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="definition:SDocumentListDefinition" name="documentListDefinition" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="SFlowNodeDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:sequence>
                    <xs:element name="displayName" type="definition:SExpression" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="displayDescription" type="definition:SExpression" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="displayDescriptionAfterCompletion" type="definition:SExpression" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="incomingTransition" type="definition:STransitionDefinitionRef" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="outgoingTransition" type="definition:STransitionDefinitionRef" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="defaultTransition" type="definition:STransitionDefinitionRef" minOccurs="0" maxOccurs="1" />
                    <xs:element name="connector" type="definition:SConnectorDefinition" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SActivityDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SFlowNodeDefinition">
                <xs:sequence>
                    <xs:element name="dataDefinitions">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element type="definition:SDataDefinition" name="dataDefinition" />
                                    <xs:element type="definition:STextDataDefinition" name="textDataDefinition" />
                                    <xs:element type="definition:SXMLDataDefinition" name="xmlDataDefinition" />
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="businessDataDefinitions" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="businessDataDefinition" minOccurs="0" maxOccurs="2" type="definition:SBusinessDataDefinition" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="operations" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="operation" type="definition:SOperation" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="standardLoopCharacteristics" type="definition:SStandardLoopCharacteristics" minOccurs="0" />
                        <xs:element name="multiInstanceLoopCharacteristics" type="definition:SMultiInstanceLoopCharacteristics" minOccurs="0" />
                    </xs:choice>
                    <xs:element name="boundaryEvents" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element type="definition:SBoundaryEventDefinition" name="boundaryEvent" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SSubProcessDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SActivityDefinition">
                <xs:sequence>
                    <xs:element name="flowElements">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="definition:SFlowElementDefinition" />
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="triggeredByEvent" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SAutomaticTaskDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SActivityDefinition" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SHumanTaskDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SActivityDefinition">
                <xs:sequence>
                    <xs:element name="userFilter" type="definition:SUserFilterDefinition" minOccurs="0" maxOccurs="1" />
                    <xs:element name="contract" type="definition:SContractDefinition" minOccurs="0" />
                    <xs:element name="context" type="definition:SContextDefinition" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="actorName" type="xs:string" />
                <xs:attribute name="priority" type="xs:string" />
                <xs:attribute name="expectedDuration" type="xs:long" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SUserTaskDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SHumanTaskDefinition" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SManualTaskDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SHumanTaskDefinition" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SReceiveTaskDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SActivityDefinition">
                <xs:sequence>
                    <xs:element name="catchMessageEventTrigger" type="definition:SCatchMessageEventTriggerDefinition" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SSendTaskDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SActivityDefinition">
                <xs:sequence>
                    <xs:element name="throwMessageEventTrigger" type="definition:SThrowMessageEventTriggerDefinition" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SCallActivityDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SActivityDefinition">
                <xs:sequence>
                    <xs:element type="definition:SExpression" name="callableElement" minOccurs="1" maxOccurs="1" />
                    <xs:element type="definition:SExpression" name="callableElementVersion" minOccurs="0" maxOccurs="1" />
                    <xs:element type="definition:SOperation" name="dataInputOperation" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element type="definition:SOperation" name="dataOutputOperation" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="callableElementType">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="PROCESS" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="STransitionDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:sequence>
                    <xs:element name="condition" type="definition:SExpression" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="source" type="xs:long" />
                <xs:attribute name="target" type="xs:long" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="STransitionDefinitionRef">
        <xs:attribute name="idref" type="xs:long" use="required" />
    </xs:complexType>

    <xs:complexType name="SGatewayDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SFlowNodeDefinition">
                <xs:attribute name="gatewayType">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="PARALLEL" />
                            <xs:enumeration value="INCLUSIVE" />
                            <xs:enumeration value="EXCLUSIVE" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SContractDefinition">
        <xs:sequence>
            <xs:element name="inputDefinitions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice>
                            <xs:element name="inputDefinition" type="definition:SInputDefinition" />
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="constraintDefinitions" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="constraintDefinition" type="definition:SConstraintDefinition" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SInputDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SInputElement">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:choice>
                        <xs:element name="inputDefinition" type="definition:SInputDefinition" />
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="TEXT" />
                            <xs:enumeration value="BOOLEAN" />
                            <xs:enumeration value="DATE" />
                            <xs:enumeration value="INTEGER" />
                            <xs:enumeration value="DECIMAL" />
                            <xs:enumeration value="BYTE_ARRAY" />
                            <xs:enumeration value="FILE" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SConstraintDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:sequence>
                    <xs:element name="conditionalExpression" type="xs:string" />
                    <xs:element name="explanation" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="inputDefinitionNames" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                                <xs:element name="inputDefinitionName" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SContextDefinition">
        <xs:sequence>
            <xs:element name="contextEntry" type="definition:SContextEntry" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SContextEntry">
        <xs:sequence>
            <xs:element name="expression" type="definition:SExpression" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="key" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="SConnectorDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="inputs" type="definition:SInputs" />
                    <xs:element name="outputs" type="definition:SOutputs" />
                </xs:all>
                <xs:attribute name="connectorId" />
                <xs:attribute name="version" />
                <xs:attribute name="activationEvent">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="ON_START" />
                            <xs:enumeration value="ON_ENTER" />
                            <xs:enumeration value="ON_FINISH" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="failAction" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="FAIL" />
                            <xs:enumeration value="ERROR_EVENT" />
                            <xs:enumeration value="IGNORE" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="errorCode">
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SUserFilterDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="inputs" type="definition:SInputs">
                    </xs:element>
                </xs:all>
                <xs:attribute name="userFilterId" />
                <xs:attribute name="version" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SIOExpression">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="expression" type="definition:SExpression" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SInputs">
        <xs:sequence>
            <xs:element name="input" minOccurs="0" maxOccurs="unbounded" type="definition:SIOExpression" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SOutputs">
        <xs:sequence>
            <xs:element name="operation" minOccurs="0" maxOccurs="unbounded" type="definition:SOperation" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SBusinessDataDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                    <xs:element name="defaultValue" type="definition:SExpression" minOccurs="0" />
                </xs:all>
                <xs:attribute name="className" type="xs:string" />
                <xs:attribute name="multiple" type="xs:boolean" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SDataDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                    <xs:element name="defaultValue" type="definition:SExpression" minOccurs="0" />
                </xs:all>
                <xs:attribute name="transient" type="xs:boolean" />
                <xs:attribute name="className" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="STextDataDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                    <xs:element name="defaultValue" type="definition:SExpression" minOccurs="0" />
                </xs:all>
                <xs:attribute name="transient" type="xs:boolean" />
                <xs:attribute name="className" type="xs:string" />
                <xs:attribute name="longText" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SXMLDataDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                    <xs:element name="defaultValue" type="definition:SExpression" minOccurs="0" />
                    <xs:element name="namespace" type="xs:string" minOccurs="0" />
                    <xs:element name="element" type="xs:string" minOccurs="0" />
                </xs:all>
                <xs:attribute name="transient" type="xs:boolean" />
                <xs:attribute name="className" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SDocumentDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0" />
                    <xs:element name="url" type="xs:string" minOccurs="0" />
                    <xs:element name="file" type="xs:string" minOccurs="0" />
                    <xs:element name="fileName" type="xs:string" minOccurs="0" />
                </xs:all>
                <xs:attribute name="mimeType" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	 <xs:complexType name="SDocumentListDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="expression" type="definition:SExpression" minOccurs="0"/>
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SLoopCharacteristics" />

    <xs:complexType name="SStandardLoopCharacteristics">
        <xs:complexContent>
            <xs:extension base="definition:SLoopCharacteristics">
                <xs:sequence>
                    <xs:element name="loopCondition" type="definition:SExpression" />
                    <xs:element name="loopMax" type="definition:SExpression" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="testBefore" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SMultiInstanceLoopCharacteristics">
        <xs:sequence>
            <xs:element name="loopCardinality" type="definition:SExpression" minOccurs="0" />
            <xs:element name="completionCondition" type="definition:SExpression" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="isSequential" type="xs:boolean" />
        <xs:attribute name="loopDataInputRef" type="xs:string" />
        <xs:attribute name="loopDataOutputRef" type="xs:string" />
        <xs:attribute name="dataInputItemRef" type="xs:string" />
        <xs:attribute name="dataOutputItemRef" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="SEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SFlowNodeDefinition">
                <xs:sequence>
                    <xs:element name="eventTrigger" type="definition:SEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SCatchEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventDefinition">
                <xs:sequence>
                    <xs:element name="timerEventTrigger" type="definition:STimerEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="catchMessageEventTrigger" type="definition:SCatchMessageEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="catchSignalEventTrigger" type="definition:SCatchSignalEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="interrupting">
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean" />
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SBoundaryEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SCatchEventDefinition">
                <xs:sequence>
                    <xs:element name="catchErrorEventTrigger" type="definition:SCatchErrorEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SThrowEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventDefinition">
                <xs:sequence>
                    <xs:element name="throwMessageEventTrigger" type="definition:SThrowMessageEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="throwSignalEventTrigger" type="definition:SThrowSignalEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SEventTriggerDefinition" />

    <xs:complexType name="STimerEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition">
                <xs:sequence>
                    <xs:element name="expression" type="definition:SExpression" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="CYCLE" />
                            <xs:enumeration value="DATE" />
                            <xs:enumeration value="DURATION" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SCatchSignalEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition">
                <xs:attribute name="name" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SCatchErrorEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition">
                <xs:attribute name="errorCode" type="xs:string" use="optional" /> <!-- for the catch event the error code is optional -->
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SCatchMessageEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition">
                <xs:sequence>
                    <xs:element name="correlation" type="definition:SCorrelationDefinition" minOccurs="0" maxOccurs="5" />
                    <xs:element name="operation" type="definition:SOperation" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SThrowMessageEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition">
                <xs:sequence>
                    <xs:element name="targetProcess" type="definition:SExpression" minOccurs="1" maxOccurs="1" />
                    <xs:element name="targetFlowNode" type="definition:SExpression" minOccurs="0" maxOccurs="1" />
                    <xs:element name="dataDefinition" type="definition:SDataDefinition" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="correlation" type="definition:SCorrelationDefinition" minOccurs="0" maxOccurs="5" />
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SCorrelationDefinition">
        <xs:sequence>
            <xs:element name="key" type="definition:SExpression" minOccurs="1" maxOccurs="1" />
            <xs:element name="value" type="definition:SExpression" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SThrowSignalEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition">
                <xs:attribute name="name" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SThrowErrorEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition">
                <xs:attribute name="errorCode" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="STerminateEventTriggerDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SEventTriggerDefinition" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SStartEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SCatchEventDefinition">
                <xs:sequence>
                    <xs:element name="catchErrorEventTrigger" type="definition:SCatchErrorEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SIntermediateCatchEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SCatchEventDefinition" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SEndEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SThrowEventDefinition">
                <xs:sequence>
                    <xs:element name="terminateEventTrigger" type="definition:STerminateEventTriggerDefinition" minOccurs="0" maxOccurs="1" />
                    <xs:element name="throwErrorEventTrigger" type="definition:SThrowErrorEventTriggerDefinition" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SIntermediateThrowEventDefinition">
        <xs:complexContent>
            <xs:extension base="definition:SThrowEventDefinition" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SExpression">
        <xs:sequence>
            <xs:element name="content" type="xs:string" minOccurs="1" />
            <xs:element name="expression" type="definition:SExpression" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="expressionType" />
        <xs:attribute name="returnType" />
        <xs:attribute name="interpreter" />
    </xs:complexType>

    <xs:complexType name="SOperation">
        <xs:all>
            <xs:element name="rightOperand" type="definition:SExpression" minOccurs="0" />
            <xs:element name="leftOperand" type="definition:SLeftOperand" minOccurs="1" />
        </xs:all>
        <xs:attribute name="operator" />
        <xs:attribute name="operatorType" />
    </xs:complexType>

    <xs:complexType name="SLeftOperand">
        <xs:attribute name="name" />
        <xs:attribute name="type" />
    </xs:complexType>

    <xs:complexType name="SNamedElement">
        <xs:complexContent>
            <xs:extension base="definition:SBaseElement">
                <xs:attribute name="name" type="xs:string" use="required" />
                <xs:attribute name="description" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SInputElement">
        <xs:complexContent>
            <xs:extension base="definition:SNamedElement">
                <xs:attribute name="multiple" type="xs:boolean" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SBaseElement">
        <xs:attribute name="id" type="xs:long" />
    </xs:complexType>
</xs:schema>